aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.16.5
appnope==0.1.4
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.4.0
certifi==2025.11.12
charset-normalizer==3.4.4
choreographer==1.2.1
colorlog==6.10.1
comm==0.2.3
contourpy==1.3.0
cramjam==2.11.0
cycler==0.12.1
dcor==0.6
-e file:///Users/benleidig/Downloads/public_repos/de_lu_epf
debugpy==1.8.17
decorator==5.2.1
dieboldmariano==1.1.0
emd==0.8.1
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
fastparquet==2024.11.0
filelock==3.19.1
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.9.0
idna==3.11
importlib-metadata==8.7.0
importlib-resources==6.5.2
iniconfig==2.1.0
ipykernel==6.30.1
ipython==8.18.1
ipywidgets==8.1.7
jedi==0.19.2
jinja2==3.1.6
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-client==8.6.3
jupyter-core==5.8.1
jupyterlab-widgets==3.0.15
kaleido==1.2.0
kiwisolver==1.4.7
lightgbm==4.6.0
lightning==2.6.0
lightning-utilities==0.15.2
llvmlite==0.43.0
logistro==2.0.1
mako==1.3.10
markupsafe==3.0.3
matplotlib==3.9.4
matplotlib-inline==0.1.7
mpmath==1.3.0
multidict==6.7.1
narwhals==2.9.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
numba==0.60.0
numpy==2.0.2
optuna==4.5.0
optuna-integration==4.7.0
orjson==3.11.5
packaging==26.0
pandas==2.3.3
parso==0.8.5
patsy==1.0.2
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.4.0
plotly==6.3.1
pluggy==1.6.0
prompt-toolkit==3.0.52
propcache==0.4.1
psutil==7.1.1
ptitprince==0.3.1
ptyprocess==0.7.0
pure-eval==0.2.3
pyaml==25.7.0
pyarrow==21.0.0
pygments==2.19.2
pyparsing==3.2.5
pytest==8.4.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
pytorch-lightning==2.6.0
pytorch-tcn==1.2.3
pytz==2025.2
pyyaml==6.0.3
pyzmq==27.1.0
referencing==0.36.2
requests==2.32.5
rpds-py==0.27.1
ruff==0.15.6
scikit-base==0.12.6
scikit-learn==1.6.1
scikit-optimize==0.10.2
scipy==1.13.1
seaborn==0.13.2
setuptools==82.0.0
simplejson==3.20.2
six==1.17.0
sktime==0.38.5
sparse==0.15.5
sqlalchemy==2.0.44
stack-data==0.6.3
statsmodels==0.14.6
sympy==1.14.0
tabulate==0.9.0
threadpoolctl==3.6.0
tomli==2.4.0
torch==2.8.0
torchmetrics==1.8.2
torchvision==0.23.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing==3.10.0.0
typing-extensions==4.15.0
tzdata==2025.2
urllib3==2.6.2
wcwidth==0.2.14
widgetsnbextension==4.0.14
xgboost==2.1.4
yarl==1.22.0
zipp==3.23.0
